@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Newsreader:wght@400;700&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  color: var(--foreground);
  font-family: "Newsreader", serif;
}
